body { 
  background-color: #d4003a; 
}

 #main-text {
   font-family: Gilroy ExtraBold;
   color: black;
   font-size: 6vw;
   text-align: center;
 }

 #sub-text {
  font-family: Gilroy ExtraBold;
   color: black;
   font-size: 3.5vw;
   text-align: center;
 }

img {
  display: block;
  max-width: 20%;
  height: auto;
}

.spacer {
  margin: 100px;
}


